body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;

  /* Colors */
  --color-darkslateblue-100: #273992;
  --color-whitesmoke: #f8f8f8;
  --color-mediumslateblue: #4867ff;
  --color-gray-100: #8b8b8b;
  --color-gray-200: #767676;
  --color-gray-300: #101010;
  --color-gray-400: rgba(0, 0, 0, 0.7);
  --color-tomato: #ff4646;
  --color-dodgerblue: #648fff;
  --color-gainsboro: rgba(217, 217, 217, 0.27);
  --color-white: #fff;

  /* Gaps */
  --gap-71xl: 90px;
  --gap-22xl: 41px;
  --gap-19xl: 38px;
  --gap-lg: 18px;
  --gap-3xl: 22px;
  --gap-lg-2: 18.2px;
  --gap-15xl-8: 34.8px;
  --gap-6xs: 7px;
  --gap-13xl-3: 32.3px;
  --gap-9xs: 4px;
  --gap-2xs: 11px;

  /* Paddings */
  --padding-51xl: 70px;
  --padding-15xl: 34px;
  --padding-20xl: 39px;
  --padding-12xs: 1px;
  --padding-485xl: 504px;
  --padding-5xl: 24px;
  --padding-8xl: 27px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-25xl: 44px;

  /* Border radiuses */
  --br-12xs: 1px;
  --br-11xl: 30px;
}
